/* For the screens  */
.card {
  flex: 1; 
  /* Adjust these two max and min width again */
  min-width: 460px; 
  max-width: 800px; 
  padding: 2px;
  margin: 2px; 
  transition: transform 0.3s ease-in-out, 
  /* box-shadow 0.3s ease-in-out;  */
}

/* .card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
} */

.card-body {
  padding: 10px;
  text-align: center;
  cursor: pointer; 
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  color: #333; 
  /* margin-bottom: 8px; */
}

.card-text {
  font-size: 2rem;
  font-weight: 700;
  color: #508CA4; 
  margin: 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .card {
    margin: 10px auto;
    max-width: 90%;
  }

  .card-body {
    min-width: auto; 
  }
}

/* For screens bigger than 769px
@media (min-width: 769px){
  .card{
    margin: 10px auto;
    max-width: 90%;
    min-width: 750px;
  }

  .card-body{
    min-width: auto;
  }
} */